@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin  desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin  desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}
@mixin  desktopXXL {
    @media (min-width: v.$desktopXXL) {
        @content;
    }
}
@mixin  desktopXXXL {
    @media (min-width: v.$desktopXXXL) {
        @content;
    }
}
@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}